@import "../SCSS/variables.scss";

.scriptcard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  gap: 12px;
  background: #2d2d3d;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  cursor: pointer;

  &:hover {
    background: #4a1fb8;
    box-shadow: 0px 8px 24px rgba(94, 45, 220, 0.3);
  }

  .sc-img-c {
    width: 100%;
    img {
      border-radius: 12px;
      height: 100%;
      width: 100%;
      object-fit: cover;
      aspect-ratio: 16/9;
    }
  }
  .sc-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 24px;

    .sc-text {
      h3 {
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
      }
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #e0e0e0;
      }
    }
    .sc-icons {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px 8px;
        gap: 5px;
        background: #17151f;
        border-radius: 136px;
        font-size: 0.875rem;
        font-weight: 600;
      }

      .mod-sc-icons {
        padding: 6px 12px;
      }
    }
  }
}
