@import "../../SCSS/variables.scss";

.modal-cover {
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);

  .Script-Modal {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 12;
    max-width: 500px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 12px;
    padding: 1.5rem;
    gap: 2rem;
    flex-direction: column;
    position: relative;
    margin: 1rem;

    @media (max-width: 700px) {
      width: 90%;
    }

    .header-wrapper {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;

      .h-img-wrap {
        width: 100%;
        aspect-ratio: 7/4;
        overflow: hidden;
        border-radius: 0.5rem;

        .welcome-img {
          width: 100%;
          height: 100%;
        }
      }

      .h-content-div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        p {
          text-align: center;
        }

        .h-content-1 {
          font-size: 1.25rem;
          font-weight: 500;
          color: #101828;
        }

        .h-content-2 {
          padding: 0 1rem;
          color: #667085;
          font-weight: 400;
        }
      }

      .dot-wrapper {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;

        .dot-div {
          width: 12px;
          height: 12px;
          background: #eaecf0;
          border-radius: 60px;
          cursor: pointer;
        }

        .dot-div-active {
          background: $main-theme;
        }
      }
    }

    .bottom-button {
      display: flex;
      gap: 0.75rem;
      width: 100%;

      @media (max-width: 500px) {
        flex-direction: column-reverse;
      }

      .anchorlink {
        width: 100%;
      }

      button {
        width: 100%;
        padding: 0.625rem 1.125rem;
        margin: 0 !important;
        font-size: 1rem;
        border-radius: 0.5rem;
        border: none;
        cursor: pointer;
        font-weight: 500;
      }

      .cancel-button {
        background: linear-gradient(0deg, $base-white, $base-white),
          linear-gradient(0deg, #d0d5dd, #d0d5dd);
        border: 2px solid #a1acbe;
        color: #344054;

        &:hover {
          background: rgba(0, 0, 0, 0.1);
        }
        &:active,
        &:focus {
          background: rgba(0, 0, 0, 0.25);
          color: #000;
        }
      }

      .next-button {
        background: $main-theme;
        color: $base-white;

        &:active,
        &:hover {
          background-color: $main-theme-light;
          color: $base-white !important;
        }
      }
    }
  }
}
