@import "../../SCSS/variables.scss";

.modal-cover {
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);

  .Script-Modal {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 12;
    max-width: 840px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 12px;
    gap: 2rem;
    flex-direction: column;
    position: relative;
    padding-bottom: 1.5rem;
    margin: 1rem;

    @media (max-width: 700px) {
      width: 90%;
    }

    .top-content {
      width: 100%;
      .input-wrapper {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        padding: 1.5rem;
        border-bottom: 2px solid #d7d9df;

        .search-int {
          border: none;
          width: 100%;

          &::placeholder {
            font-size: 1rem;
          }

          &:focus {
            outline: none;
          }
        }
      }

      .script-not-found {
        width: 100%;
        aspect-ratio: 5/2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;

        .scr-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 0.8rem;

          p {
            text-align: center;
          }

          .scr-title {
            font-size: 1.25rem;
            font-weight: 500;
          }

          .scr-sub {
            max-width: 402px;
            color: #667085;
            font-size: 1rem;
          }
        }

        .scr-request-btn {
          background: $main-theme;
          display: flex;
          gap: 0.75rem;
          padding: 0.625rem 1.125rem;
          border-radius: 0.5rem;
          font-size: 1rem;
          font-weight: 500;
          color: #fff;
          transition: all ease-in-out 100ms;
          border: none;
          cursor: pointer;
          font-weight: 500;

          &:hover {
            background: $main-theme-light;
          }
        }
      }
    }
  }
}
