@import "../../components/SCSS/variables.scss";

.home {
  color: $base-white;
  width: 100vw;
  font-family: "Poppins";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  .home-top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    padding: 3.75rem 7rem 0 7rem;

    .home-top-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      display: flex;
      gap: 3.5rem;

      h1 {
        text-align: center;
        font-weight: 600;
        font-size: 3rem;
        line-height: 70px;
        max-width: 800px;

        span {
          color: #ff9900;
          position: relative;
          margin-left: 10px;
        }

        img {
          position: absolute;
          bottom: -19px;
          left: 102px;
          width: 12rem;
        }
      }

      .home-top-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.75rem;

        a,
        button {
          text-decoration: none;
          background: none;
          color: white;
          border: 2px solid rgba(255, 255, 255, 0.1);
          border-radius: 12px;
          padding: 16px 32px;
          cursor: pointer;
        }

        .secondary-button,
        .styled-button {
          display: flex;
          gap: 0.5rem;
        }

        .secondary-button {
          &:hover {
            background: rgba(97, 191, 101, 0.1);
            border: 2px solid rgba(97, 191, 101, 0.1);
          }
          &:active {
            background: linear-gradient(153.06deg, #74d680 -0.31%, #378b29 99.69%);
          }
          &:focus {
            border: 2px solid rgba(116, 214, 128, 1);
            background: rgba(97, 191, 101, 0.3);
          }
        }

        .styled-button {
          border: none;
          font-weight: 600;
          background: linear-gradient(26.57deg, #53389e 8.33%, #6941c6 91.67%);

          &:hover {
            box-shadow: 0px 4px 24px 0px #9747ff66;
          }
          &:focus {
            box-shadow: 0px 4px 24px 0px #9747ff66;
          }
          &:active {
            box-shadow: 0px 4px 24px 0px #9747ff66;
          }
        }
      }
    }

    .ht-img-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 75%;
      border-radius: 12px 12px 0px 0px;
      border: 8px solid #31343f;
      border-bottom: none;
      width: 100%;
      .htimg {
        width: 100%;
        border-radius: 12px 12px 0px 0px;
      }
      .ht-corner {
        position: relative;
        position: absolute;
        top: -24px;
        left: -60px;
        background: #000000;
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        transform: rotate(-12.08deg);
        padding: 18px 36px;

        img {
          position: absolute;
          width: 48px;
          top: -15px;
          left: -7px;
        }

        p {
          font-weight: 600;
        }
      }
    }
  }

  .home-data {
    width: 100%;

    .ht-data {
      width: 100%;
      padding: 5rem 7rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.86), rgba(0, 0, 0, 0.76)),
        url(/Script/Image/Main-image.jpg);
      background-position: 50% 63%;

      .ht-data-inside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .ht-data-no {
          font-weight: 700;
          font-size: 3.25rem;
          line-height: 78px;
        }

        .ht-data-name {
          font-weight: 400;
          font-size: 1rem;
          line-height: 24px;
        }
      }
    }
  }

  .home-features {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 2rem;
    position: relative;
    padding: 3.5rem 7rem;

    .hf-left {
      padding-top: 5rem;
      flex: 100%;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .hf-top-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .hf-header {
          font-weight: 600;
          font-size: 2.25rem;
          line-height: 44px;
          letter-spacing: -0.02em;
        }

        .hf-hp {
          font-weight: 400;
          font-size: 1rem;
          line-height: 28px;
          color: #d0d5dd;
        }
      }

      .hf-features-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .hf-features {
          display: flex;
          flex-direction: column;
          gap: 1.25rem;

          .hficon,
          .hficon-2,
          .hficon-3 {
            width: 48px;
          }

          .hf-text {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;

            .hf-subheader {
              font-weight: 600;
              font-size: 1.25rem;
              line-height: 30px;
              margin-bottom: 0;
            }
            .hf-subp {
              font-weight: 400;
              font-size: 0.875rem;
              line-height: 24px;
              color: #d0d5dd;
            }
          }
        }
      }
    }
    .hf-right {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      img {
        width: 512px;
      }
    }
  }

  .mps {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #191b21;
    background-image: url("/Homepage/pattern/most-popular-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7rem;
    margin: 70px 0 50px 0;
    background-position: 70% 25%;
    overflow: hidden;

    .mps-inside {
      display: flex;
      flex-direction: column;
      width: 90%;
      justify-content: center;
      align-items: flex-start;

      .mps-header {
        transform: rotate(-5.21deg);
        margin-bottom: 50px;
        p {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 36px;
          line-height: 54px;
          text-align: center;
          letter-spacing: -0.02em;
          color: $base-white;
          span {
            position: relative;
            img {
              position: absolute;
              left: -73px;
              bottom: -7px;
              z-index: -1;
            }
          }
        }
      }
    }
  }

  .recentu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 6rem 7rem;
    position: relative;

    .background-header {
      z-index: 0;
      top: -80px;
    }

    .recentu-top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 1;

      p {
        font-weight: 600;
        font-size: 36px;
        line-height: 54px;
        letter-spacing: -0.02em;
        color: $base-white;
      }
      .styled-button {
        padding: 16px 32px;
        gap: 0.5rem;
        border-radius: 12px;
        color: white;
        background: #6941c6;
        display: flex;

        span {
          font-weight: 600;
        }

        &:hover,
        &:active,
        &:focus {
          box-shadow: 0px 4px 24px 0px #9747ff66;
        }
      }
    }
    .recentu-bottom {
      z-index: 1;
      width: 100%;
      display: grid;
      gap: 32px;
    }

    @media only screen and (min-width: 1200px) {
      .recentu-bottom {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    @media only screen and (max-width: 1200px) {
      .recentu-bottom {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @media only screen and (max-width: 500px) {
      .recentu-bottom {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

.background-header {
  position: absolute;
  font-weight: 600;
  font-size: 15vw;
  line-height: 369px;
  color: $base-white;
  opacity: 0.04;
  top: -50px;
  left: 0px;
}
