@import "../SCSS/variables.scss";

.viewscript {
  position: relative;
  border: #242323;
  color: white;
  border-radius: 12px !important;
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
  min-height: 185px;
  border: 3px solid #31343f;

  .sideimage {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 185px;
    height: 100%;
  }
}
.overlaytext1 {
  height: 100%;
  position: relative;

  .cover-div {
    background: rgba(0, 0, 0, 0.407);
    width: 100%;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    backdrop-filter: blur(5px);
    z-index: 1;
    border-radius: 12px 12px 0 0;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    .overlaycontent {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      padding: 10px 10px 5px 10px;

      &__heading {
        margin: 5px 0 3px 0;
        text-transform: capitalize;
        font-size: 1rem;
      }

      &__para {
        margin-bottom: 7px;
        font-size: 0.75rem;
        overflow: hidden;
        max-height: 30px;
        position: relative;
        font-weight: 400;
        line-height: 17px;
        color: #ffffe5;
      }
    }
  }
}
.side-script-button {
  width: 100%;
  font-size: 12px;
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    gap: 8px;
    margin-left: 10px;
    background: #000;
    border-radius: 50px;
    margin-bottom: 10px;

    span {
      font-weight: 600;
    }

    .view-icon {
      width: 16px;
    }
  }
}

.get-script {
  background: linear-gradient(26.57deg, #53389e 8.33%, #6941c6 91.67%);
  box-sizing: content-box;
  color: $base-white;
  outline: none;
  border-radius: 12px 0 0px 0;
  cursor: pointer;
  border: none;
  padding: 0px 24px;
  margin-top: -0.3rem;
  font-weight: 600;
  font-size: 13px;
  &:hover {
    box-shadow: 0px 4px 24px 0px #9747ff66;
    background: #7f56d9;
  }
  &:focus {
    box-shadow: 0px 4px 24px 0px #9747ff66;
    background: #7f56d9;
  }
  &:active {
    box-shadow: 0px 4px 24px 0px #9747ff66;
    background: #7f56d9;
  }
}

@media only screen and (max-width: 630px) {
  .viewscript {
    width: 100%;

    img {
      width: 100%;
    }
  }
}
