@import "../../SCSS/variables.scss";

.modal-cover {
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);

  .sign-up-modal {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 12;
    max-width: 480px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 12px;
    padding: 1.5rem;
    gap: 2rem;
    flex-direction: column;
    position: relative;
    margin: 1rem;

    @media (max-width: 700px) {
      width: 90%;
    }

    .close-div {
      position: absolute;
      width: 44px;
      height: 44px;
      padding: 0.625rem;
      top: 1rem;
      right: 1rem;
      margin: 0 !important;
      border-radius: 0.5rem;

      &:hover {
        background: #eceff3;
      }

      &:focus {
        background: #cfd2d7;
      }
    }

    .top-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      align-items: center;
      justify-content: center;

      .header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.375rem;

        p {
          font-size: 1.125rem;
          font-weight: 500;
          color: #101828;
        }

        span {
          text-align: center;
          font-weight: 400;
          font-size: 0.875rem;
          color: #667085;
        }
      }

      .upload-div {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        padding: 1rem 1.5rem;
        align-items: center;
        border: 2px solid $modal-gray;
        border-radius: 0.5rem;

        .up-content-div {
          p {
            text-align: center;
            font-size: 0.9rem;

            button {
              color: #6941c6;
            }
          }
        }
      }

      .click-random-div {
        width: 100%;
        p {
          font-weight: 500;
          font-size: 0.875rem;
          text-align: center;
          color: #667085;
        }
      }
    }

    .bottom-button {
      display: flex;
      gap: 0.75rem;
      width: 100%;

      @media (max-width: 500px) {
        flex-direction: column-reverse;
      }

      button {
        width: 100%;
        padding: 0.625rem 1.125rem;
        margin: 0 !important;
        font-size: 1rem;
        border-radius: 0.5rem;
      }

      .cancel-button {
        background: linear-gradient(0deg, $base-white, $base-white),
          linear-gradient(0deg, #d0d5dd, #d0d5dd);
        border: 2px solid #a1acbe;
        color: #344054;

        &:hover {
          background: rgba(0, 0, 0, 0.1);
        }
        &:active,
        &:focus {
          background: rgba(0, 0, 0, 0.25);
          color: #000;
        }
      }

      .next-button {
        background: $main-theme;
        color: $base-white;

        &:active,
        &:hover {
          background-color: $main-theme-light;
          color: $base-white !important;
        }
      }
    }
  }
}
